.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding-top: 20px;
}

.logo, .navbar ul {
    color: #f9faf8;
    font-size: 18px;
}

.logo {
    font-size: 24px;
}

* {
    border: 0;
    margin: 0;
    font-family: sans-serif;
}
.hero {
    display: flex;
    background-color: #1f2937;

}
.hero h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.hero p, button {
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 550px;
    
}

.hero-text {
    width: 400px;
    }


.hero-img {
    width: 300px;
}

.hero button {
    margin-top: 5px;
    padding: 5px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 15%;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 120px;
    flex-wrap: wrap;
}

.cards div {
    width: 180px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 10%;
    text-align: center;
}

.card-header {
    font-weight: 800;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    margin: 40px 0;
}

.quote {
    padding: 0 20%;
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quotetext {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quoteauthor {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}


